# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

    Some of the popular languages that Data Scientists use are:
        
        1. Python
        2. R
        3. Java
        4. Julia
        5. Scala

    Some of the commonly used libraries used by Data Scientists include:
    
        1. numpy
        2. pandas
        3. scikit-learn


| Data Science Tools  |
| --- | 
| R Studio | 
| Zeppelin |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
# This a simple arithmetic expression to mutiply then add integers.
     (3*4)+5

In [ ]:
17

In [ ]:
# This will convert 200 minutes to hours by diving by 60. 
200/60

In [ ]:
3.333333333333333

**Objectives:**

* List popular languages for Data Science
* Summarize data science tools and ecosystem
* List commonly used libraries by data scientist

## Author

**Eren Ferhad Khan**